@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: boarder-box;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

#container {
    margin: 100px;

    display: flex;
    gap: 50px;
    flex-direction: column;
    justify-content: center;
}

#container h1 {
    text-align: center;
}

#container #inputField {
    display: flex;
    justify-content: center;
    flex-direction: row; //p

}

#container #inputField label{
    font-size: 50px;
}

#container #inputField #task {
    padding: 10px;
    margin: 20px
}

#container #inputField #submit {
    padding: 0px 10px;
    margin: 18px;
    border-radius: 10px;
    cursor: pointer;
}

#container #inputField #submit:hover {
    color: white; //p
    background: black;
}


#hr {
    height: 5px;
    background: black;
}

.userList {
    display: flex;
    justify-content: space-around; //p
    gap: 20px;
    align-item: center;
}

.userList input[type="checkbox"] {
    transform: scale(1.5); //p
}

.userList #title {
    font-size: 20px;
}

.userList #delete {
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.userList #delete:hover {
    background: black;
    color: white;
    border: white 2px solid;
}